/* clase para poder aplicar un fondo al header */
.bg-header{
    background: url('../../../public/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*estilos para boton primario*/
.button-gradient{
    padding: 0.8rem 2.2rem;
    color: #111;
    background-image: linear-gradient(135deg,#01ffff,#fcff00);
    font-weight: 800;
}

.button-gradient:hover{
    background-color: #111;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(135deg,#01ffff,#fcff00);;
    /* color: linear-gradient(135deg,#01ffff,#fcff00); */
    box-shadow: 4px 4px 0 0 #fcff00;
    font-weight: 800;
}

/*estilos para boton secundario*/
.button-linear{
    padding: 0.8rem 2.2rem;
    font-weight: 800;
    background-color: #ffffff;
    color: #111;
}

.button-linear:hover{
    background-color: #111;
    color: #ffffff;
}


/*Estas clases es para hacer el menu hambuguesa para movil y la animacion*/
.icon-menu{
    cursor: pointer;
    color:white;
    font-weight: 900;
    margin-left: 1rem;
    width: 40px;
    height: 40px;
    padding: 0.2rem;
}

.burguer-menu{
    position: absolute;
    top: -70px;
    right: 0px;
    left: 0px;
    padding: 0.7rem;
    opacity: 0;
    transition: all 600ms ease 0s;
}

/*Al hacer click en el icono de las 3 rayas salen las opciones del menu*/
.activated{
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 1;
    height: 25vh;
    margin: 0 0.2rem;
    border-radius: 5px;
    background-color: white;
    color: #111;
}