@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    /*colores personalizados*/
    --cyan: #01ffff;
    --yellow: #fcff00;
    --red: #ff0000;
    --green: #39ff14;
    --bg-hab-black: #111111;
    --color-gradient: linear-gradient(135deg, var(--cyan), var(--yellow));

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../../public/Background.webp');
    background-color: #111111;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-default {
    min-width: 224px;
    min-height: 40px;
    padding: 0.5rem;
    border: 1px solid #cbd6e2;
    box-sizing: border-box;
    color: black;
}

.select-default {
    min-width: 224px;
    min-height: 40px;
    border: 1px solid #cbd6e2;
    box-sizing: border-box;
    color: black;
    font-size: 100%;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/*degradado personalizado*/
@layer utilities {
    .bg-gradient {
        background-image: var(--color-gradient);
        background-clip: padding-box;
    }

    .bg-gradient:hover {
        background: black;
    }

    .gradient-text {
        color: black;
        transition: color 0.3s ease;
    }

    .bg-gradient:hover .gradient-text {
        background: var(--color-gradient);
        -webkit-background-clip: text; /* Para navegadores WebKit */
        background-clip: text; /* Para otros navegadores */
        color: transparent;
    }
}

/*sombras para los botones*/
@layer utilities {
    .box-shadow-yellow {
        box-shadow: 4px 4px 0 0 var(--yellow);
    }

    .box-shadow-white {
        box-shadow: 4px 4px 0 0 #fff;
    }
    .box-shadow-gray {
        box-shadow: 4px 4px 0 0 #4b5563;
    }
}

/*ocultar barra de scroll*/
.no-scroll2::-webkit-scrollbar {
        display: none; /* Chrome, Safari  */
    }

.no-scroll {
    scrollbar-width: none;  /* Firefox */ 
    -ms-overflow-style: none; /* Internet Explorer y Edge  */
    overflow-x: scroll;
    overflow-y: hidden;
}
.qr-code img {
    filter: sepia(82%) saturate(2000%) hue-rotate(0deg) brightness(105%) contrast(104%);
}

.custom-radio-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .custom-radio-wrapper {
    display: none;
  }
}


.custom-radio {
  opacity: 0;
  position: absolute;
  width: 26px;
  height: 26px;
}

.custom-radio-checkmark {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: linear-gradient(135deg, #4E39F5, #03F7F9);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.custom-radio-checkmark::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.custom-radio:checked + .custom-radio-checkmark::before {
  transform: scale(1);
}

.custom-radio-checkmark:hover::before {
  transform: scale(0.7);
}