@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*colores personalizados*/
  --cyan: #01ffff;
  --yellow: #fcff00;
  --red: #ff0000;
  --green: #39ff14;
  --color-gradient: linear-gradient(135deg,var(--cyan),var(--yellow));

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    background-image: url('../../public/Background.webp');
    background: center no-repeat cover;
    color: #fff;
}

.input-default {
    min-width: 224px;
    min-height: 40px;
    padding: 0.5rem;
    border: 1px solid #CBD6E2;
    box-sizing: border-box;
    color: black;
}

.select-default {
  min-width: 224px;
    min-height: 40px;
    border: 1px solid #CBD6E2;
    box-sizing: border-box;
    color: black;
    font-size: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*degradado personalizado*/
@layer utilities {
  .bg-gradient{
  background-image: var(--color-gradient);
  }

  .bg-gradient:hover{
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}

/*sombras para los botones*/
@layer utilities {
  .box-shadow-yellow{
    box-shadow: 4px 4px 0 0 var(--yellow);
    }
  
  .box-shadow-white{
    box-shadow: 4px 4px 0 0 #fff;
    }
  }