@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*colores personalizados*/
    --cyan: #01ffff;
    --yellow: #fcff00;
    --red: #ff0000;
    --green: #39ff14;
    --bg-hab-black: #111111;
    --color-gradient: linear-gradient(135deg, var(--cyan), var(--yellow));

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Para evitar desbordamientos horizontales */
}

body {
    background-image: url('../../public/Background.webp');
    background: center no-repeat cover;
    color: #fff;
}

.input-default {
    min-width: 224px;
    min-height: 40px;
    padding: 0.5rem;
    border: 1px solid #cbd6e2;
    box-sizing: border-box;
    color: black;
}

.select-default {
    min-width: 224px;
    min-height: 40px;
    border: 1px solid #cbd6e2;
    box-sizing: border-box;
    color: black;
    font-size: 100%;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/*degradado personalizado*/
@layer utilities {
    .bg-gradient {
        background-image: var(--color-gradient);
        background-clip: padding-box;
    }

    .bg-gradient:hover {
        background: black;
    }

    .gradient-text {
        color: black;
        transition: color 0.3s ease;
    }

    .bg-gradient:hover .gradient-text {
        background: var(--color-gradient);
        -webkit-background-clip: text; /* Para navegadores WebKit */
        background-clip: text; /* Para otros navegadores */
        color: transparent;
    }
}

/*sombras para los botones*/
@layer utilities {
    .box-shadow-yellow {
        box-shadow: 4px 4px 0 0 var(--yellow);
    }

    .box-shadow-white {
        box-shadow: 4px 4px 0 0 #fff;
    }
    .box-shadow-gray {
        box-shadow: 4px 4px 0 0 #4b5563;
    }
}

/*ocultar barra de scroll para los sliders*/
@layer utilities {
    ::-webkit-scrollbar {
        display: none;
    }
}
