/* clase para poder aplicar un fondo al header */
.bg-header{
    background: url('../../public/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Estas clases es para hacer el menu hambuguesa para movil y la animacion*/
.icon-menu{
    cursor: pointer;
    color:white;
    font-weight: 900;
    margin-left: 1rem;
    width: 40px;
    height: 40px;
    padding: 0.2rem;
}

.burguer-menu{
    position: absolute;
    top: -70px;
    right: 0px;
    left: 0px;
    padding: 0.7rem;
    opacity: 0;
    transition: all 600ms ease 0s;
}

/*Al hacer click en el icono de las 3 rayas salen las opciones del menu*/
.activated{
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 1;
    height: 25vh;
    margin: 0 0.2rem;
    border-radius: 5px;
    background-color: white;
    color: #111;
}