@media (min-width: 768px) {
  .grid-md {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
  }
}

@media (min-width: 1024px) {
  .grid-lg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .grid-lg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
  }
}